.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.containerLight {
  max-width: 70vh;
  margin: auto;
  height: auto;
  border: 1px solid black;
  background-color: white;
  min-height: 100vh;
  min-width: 70vh;
}

.containerDark {
  max-width: 70vh;
  margin: auto;
  height: auto;
  border: 1px solid white;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  min-width: 70vh;
}


/* Media query for mobile screens */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: stretch;
  }
}